# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# 357 build artifacts
labs/lab-03/target/release/htable
labs/lab-05/target/release/mypwd
asgns/asgn-03/target/release/hencode
asgns/asgn-03/target/release/hdecode
asgns/asgn-04/target/release/mytar
asgns/asgn-05/target/release/myhttpd
asgns/asgn-04/test_output.tar
labs/lab-07/target/release/forkit
